.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Header */
.header{
  background-color: rgb(85, 164, 213);
  height: 10vh;
  width: 100vw;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
}

#homeLink {
  margin-left: 30px;
  cursor: pointer;
}
/**********/
/* Main Body */
.main {
  background-color: rgb(34, 34, 34);
  height: 90vh;
  width: 100vw;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.userBox {
  background-color: rgb(235, 235, 235);
  /* Use Percentage here, since we want the userBox to be sized relative to
  .main class */
  height: 70%;
  width: 75%;
}

.dataLeft {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
  align-content: stretch;
  margin-left: 5%;
}
#closeSpace {
  text-align: left;
  line-height: .9rem;
}
#movieList {
  text-align: left;
  line-height: default;
}
li {
  margin-top: 5px;
}
.objCount {
  margin-right: 5%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

.listAlign {
  text-align: left;
}

.navi {
  color: white;
  cursor: pointer;
}

.controlPanel {
  /* In order for flex-box format to inherit correctly, we need to size control
  panel at the same width as userBox. Otherwise, it will try to squish control panel'
  into the smallest space possible in center. Set both userBox and controlPanel to
  75% width, so that they will scale out correctly. */
  width: 75%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#blueBottom {
 border-bottom: 3px solid rgb(85, 164, 213);
}

.editButtons {
  background-color: rgb(85, 164, 213);
  font-size:  16px;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 20px;
  height: 3rem;
  width: 6rem;
  cursor: pointer;
}

#middleButton {
  margin-left: 20px;
  margin-right: 20px;
}

#frontButton {
  margin-left: 10px;
}

#endButton {
  margin-right: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
